.my_bg_color {
    background-color: #6196A6;
}

.my_sec_color {
    background-color: #F8F6E3;
}

.my_color {
    color: #124076;
}

.my_shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.my_small_text {
    font-size: 0.7em;
}